body {
    display:flex;
    flex-direction: column;
    margin:0px;
}

.header {
    display:flex;
    background-color: #1F2937;
    color:white;
    align-items:center;
    justify-content: space-between;
    height:120px;
}

ul {
    list-style-type:none;
    margin-right:200px;
}

li {
    display:inline-block;
    margin-right:50px;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 24px;
    color: #f9faf8;
    margin-left:200px;
}

.content {
    display:flex;
    align-items:center;
    height:600px;
    justify-content:center;
    background-color: #1F2937;
    color:white;
    gap:100px;
    font-size:18px;
    color:#E5E7EB;
}

h2 {
    font-size:48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom:0;
}

img {
    width:600px;
    height:300px;
}

.content-text{
    width:500px;
}

button {
    background-color: #3882f6;
    padding-left: 30px;
    padding-right: 30px;
    padding-top:10px;
    padding-bottom:10px;
    color:#E5E7EB;
    font-weight:bold;
    font-size:15px;
    border-radius: 10px;
    border-style:none;
}

.random-info-content {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    padding-bottom:100px;
}

.squares{
    display:flex;
}

.shape {
    border:solid 5px #3882f6;
    width:100px;
    height:100px;
    margin:20px;
    padding:50px;
    border-radius: 10px;
}

h3 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.square {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}

.square p {
    margin-top: -10px;
    font-size: 18px;
    color: gray;
    flex-wrap: wrap;
    width:200px;
}

.quote-section {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    height: 350px;
}

.quote-container {
    width:650px;
}

.quotee {
    display:flex;
    justify-content: right;
    color: #1f2937;
    font-size:20px;
    font-weight: bold;
    margin-right:40px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin-bottom:-50px;
}